<ion-header>
  <ion-toolbar color='danger'>
    <ion-title>
      Youtube Video Listele
    </ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="presentAlertPrompt()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-header>
    <ion-toolbar>
    <ion-item>
        <ion-icon item-left color='danger' name='logo-youtube'></ion-icon>
         <ion-select placeholder='Kategori Seçiniz' [(ngModel)]="kategori" (ionChange)="kategoriyeGoreVideoGetir(kategori)" okText="Tamam" cancelText="Vazgeç" *ngIf="kategoriler" >
           <ion-select-option *ngFor="let kategori of kategoriler" [value]="kategori.id">{{ kategori.snippet.title}}</ion-select-option>
         </ion-select>
       </ion-item>
      </ion-toolbar>
      </ion-header>
  <ion-list no-lines>
      <ion-item (click)='izle(vid)' *ngFor="let vid of videolar; let i = index">
          <ion-thumbnail slot="start">
              <img [src]="vid.snippet.thumbnails.default.url">
          </ion-thumbnail>
          <ion-label>
            <h3>{{i+1}}/{{videolar.length}} - {{vid.snippet.title}}</h3>
            <p>{{ vid.snippet.publishedAt | date:'dd/MM/yyyy' }}</p>
          </ion-label>

        </ion-item>

      <ion-item  class='pageText'  *ngIf="videolar else videoyok">
        <p>Video: {{videolar.length}} / {{videolar.length}}</p>
      </ion-item>




      <ng-template #videoyok>
        <div class=bos-liste>
        <h3><ion-icon item-left color='danger' name='logo-youtube'></ion-icon></h3>
        <h3>Gösterilecek Video Yok</h3>
      </div>
      </ng-template>

</ion-list>
</ion-content>
